
<html>
  <body>
<main>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg">

                <div class="card shadow-lg border-0 rounded-lg mt-5">

                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Loan Details</h3></div>

                    <div class="card-body">
<table class="table table-striped table-sm">
    <thead>
      <tr>
       <th scope="col">LoanId</th>
      <!--   <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Loan Number</th>-->
        <th scope="col">Loan Amount</th>
        <th scope="col">Loan Type</th>
        <th scope="col">Duration(In Yrs)</th>
        <!-- <th scope="col">Interest</th> -->
        <th scope="col">Monthly EMI</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loandata of LoanArray">
        <th scope="row">{{loandata.loanId}}</th>
        <th scope="row">{{loandata.loanAmt}}</th>
        <th scope="row">{{loandata.loanType}}</th>
        <th scope="row">{{loandata.duration}}</th>
        <!-- <th scope="row">{{loandata.interest}}</th> -->
        <th scope="row">{{loandata.monthlyEMI}}</th>
        <td>
          <a class="btn btn-primary" href="/modify" role="button">Edit</a>
          <button class="btn btn-primary bi bi-trash" (click)="onDelete(loandata.loanId)">Delete</button>

          <a class="btn btn-primary" href="/payments" role="button">Pay</a>
        </td>
      </tr>
    </tbody>
</table>
</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>