

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg">

                <div class="card shadow-lg border-0 rounded-lg mt-5">

                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Loan Details</h3></div>

                    <div class="card-body">
                        
                         
                         
<table class="custom-table">
    <thead>
      <tr>

        <th scope="col">Loan Id</th>
        <!--   <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Loan Number</th>-->
          <th scope="col">Loan Amount</th>
          <th scope="col">Loan Type</th>
          <th scope="col">Duration(In Yrs)</th>
          <th scope="col">Monthly EMI</th>
        <!-- <th scope="col">User Id</th>-->
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let loandata of LoanArray">
            <th scope="row">{{loandata.loanId}}</th>
            <td>{{loandata.loanAmt}}</td>
            <td>{{loandata.loanType}}</td>
            <td>{{loandata.duration}}</td>
            <td>{{loandata.monthlyEMI}}</td>
           <!--<td>{{loandata.customer.id}}</td>-->
            <td>
                <button class="btn btn-primary bi bi-trash" (click)="onApprove()"  style="background-color: green;">Approve</button>
                <!-- <a class="btn btn-primary" href="/modify" role="button">Edit</a> -->
                <button class="btn btn-primary bi bi-trash" (click)="onDelete(loandata.loanId)" style="background-color: red;">Reject</button>
              </td>
        </tr>
      
    </tbody>
</table>

</div>
                </div>
            </div>
        </div>
    </div>
