<html lang="en">

<head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="description" content="" />

    <meta name="author" content="" />

    <title>Page Title - SB Admin</title>

    <!-- <link href="css/styles.css" rel="stylesheet" /> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>

</head>

<body class="bg-primary">

    <div id="layoutAuthentication">

        <div id="layoutAuthentication_content">

            <main>

                <div class="container">

                    <div class="row justify-content-center">

                        <div class="col-lg-7">

                            <div class="card shadow-lg border-0 rounded-lg mt-5">

                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Modify Loan</h3>
                                </div>

                                <div class="card-body">

                                    <form>

                                        <div class="form-row">


                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">

                                                <label class="small mb-1">Loan Id</label>

                                                <input class="form-control py-4" name="LoanId" type="number"
                                                    placeholder="Enter Loan Id" [(ngModel)]="loan.loanId" />

                                            </div>

                                        </div>

                                        <div class="col-md-6">

                                            <div class="form-group">

                                                <label class="small mb-1">Loan Amount</label>

                                                <input class="form-control py-4" name="LoanAmount" type="number"
                                                    placeholder="Enter Loan Amount" [(ngModel)]="loan.loanAmt" />

                                            </div>

                                        </div>

                                        <div class="form-row">



                                            <div class="col-md-6">

                                                <div class="form-group">

                                                    <label class="small mb-1">Loan Type</label>

                                                    <input class="form-control py-4" name="LoanType" type="text"
                                                        placeholder="Enter Loan Type" [(ngModel)]="loan.loanType" />

                                                </div>

                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group">

                                                    <label class="small mb-1">Duration</label>

                                                    <input class="form-control py-4" name="Duration" type="number"
                                                        placeholder="Enter duration" [(ngModel)]="loan.duration" />

                                                </div>

                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group">

                                                    <label class="small mb-1">Monthly EMI</label>

                                                    <input class="form-control py-4" name="MonthlyEmi" type="number"
                                                        placeholder="Enter Monthly EMI" [(ngModel)]="loan.monthlyEMI" />

                                                </div>

                                            </div>

                                            <div class="col-md-6">

                                                <div class="form-group">

                                                    <label class="small mb-1" for="inputUserId">User Id</label>

                                                    <input class="form-control py-4" name="userId" type="text"
                                                        placeholder="Enter User Id" [(ngModel)]="loan.customer.id" />

                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block"
                                                (click)="editLoan()">Modify</a></div>

                                    </form>

                                </div>



                            </div>

                        </div>

                    </div>

                </div>

            </main>

        </div>

        <div id="layoutAuthentication_footer">

            <!-- <footer class="py-4 bg-light mt-auto">

                    <div class="container-fluid"> -->

            <!-- <div class="d-flex align-items-center justify-content-between small">

                            <div class="text-muted">Copyright &copy; Simplilearn 2021</div>

                            <div>

                                <a href="#">Privacy Policy</a>

                                &middot;

                                <a href="#">Terms &amp; Conditions</a>

                            </div>

                        </div> -->

            <!-- </div>

                </footer> -->

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

    <script src="js/scripts.js"></script>

</body>

</html>