
<html><head>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<form>
  <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Lrzd0cyqrVvkIe"
    async> </script>
</form>
</head><body>
<p>Angular v16 launched</p>
<button (click)="payNow()">Pay amount</button>

</body>
</html>
