<html>
    <body>
<main>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-7">

                <div class="card shadow-lg border-0 rounded-lg mt-5">

                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Pay EMI</h3></div>

                    <div class="card-body">
                       

                        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

                           
                            <div class="col-md-6">

                                <div class="form-group">

                                    <label class="small mb-1" for="inputFirstName">Total Amount</label>

                                    <input class="form-control py-4" name="TotalAmount" formControlName="totalAmt" type="number" placeholder="Enter total Amount" />

                                </div>
                                <span class="alert alert-danger" *ngIf="addForm.controls['totalAmt'].hasError('required')&&addForm.controls['totalAmt'].touched">
                                    Loan Amount can not be empty
                                </span>
                             <!--   <div class="alert alert-danger" *ngIf="createForm.controls['firstName'].hasError('minlength')">
                                    Minimum three characters should be used for the first name
                                </div>
                                <div class="alert alert-danger" *ngIf="createForm.controls['firstName'].hasError('maxlength')">
                                    Maximum fifteen characters should be used for the first name
                                </div>
                            --></div>
                        <div class="col-md-6">

                            <div class="form-group">

                                <label class="small mb-1" for="inputLastName">Duration</label>

                                <input class="form-control py-4" name="duration" formControlName="duration" type="number" placeholder="Enter duration"   />

                            </div>
                            <span class="alert alert-danger" *ngIf="addForm.controls['duration'].hasError('required')&&addForm.controls['duration'].touched">
                                Duration can not be empty
                            </span>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">

                                <label class="small mb-1" for="inputLastName">Monthly EMI</label>

                                <input class="form-control py-4" name="MonthlyEmi" formControlName="monthlyEMI" type="number" placeholder="Enter monthly EMI" />

                            </div>
                            <span class="alert alert-danger" *ngIf="addForm.controls['monthlyEMI'].hasError('required')&&addForm.controls['monthlyEMI'].touched">
                                Monthly EMI can not be empty
                            </span>
                          <!--  <div class="alert alert-danger" *ngIf="createForm.controls['phone'].hasError('maxlength')">
                                Maximum ten characters should be used for the phone number
                            </div>
                        -->

                        </div>
                        
                <div class="col-md-6">

                    <div class="form-group">

                        <label class="small mb-1" for="inputEmailAddress">User Id</label>

                        <input class="form-control py-4" name="Id" formControlName="id" type="number" aria-describedby="emailHelp" placeholder="Enter User Id"  />

                    </div>
                    <span class="alert alert-danger" *ngIf="addForm.controls['id'].hasError('required')&&addForm.controls['id'].touched">
                        User Id can not be empty
                    </span>
                   <!-- <div class="alert alert-danger" *ngIf="createForm.controls['email'].hasError('email')">Email must be a valid email address</div>-->
                </div>
                                <div class="text-center">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2 " type="submit">To Pay</button><br>
                                    <a routerLink="/paymentgateway">Pay through razorpay</a>
                                    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

                                    <form>
                                      <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Lrzd0cyqrVvkIe"
                                        async> </script>
                                    </form>
                                </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    </body>
</html>

                