body {
    background-image: url('https://www.herofincorp.com/public/admin_assets/upload/blog/607fedabdd651_top-up-loans-how-help-you.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }