body {
    background-image: url('https://img.freepik.com/premium-photo/savings-coins-investment-interest-concept-bitcoins-new-virtual-money-loan-investment-real-estate-mortgage-esg-financial-saving_10221-16756.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }